#container {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    align-items:center;
    justify-content: center;
    font-size: medium;
}

body {
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: black;
}